apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: tempconv-backend
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: tempconv-backend
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60

