apiVersion: v1
kind: Service
metadata:
  name: tempconv-backend
  labels:
    app: tempconv-backend
spec:
  type: LoadBalancer
  selector:
    app: tempconv-backend
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051

